@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

* {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  .body {
    font-family: 'Open Sans';
    font-weight: 100;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 27px;
    max-width: 1240px;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .nav-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    background-color: rgba(181, 181, 181, 0.131);
    margin-top: auto;
    font-size: 14px;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 2.9;
    text-decoration: none;
    color: rgb(73, 73, 73);
    transition: .3s;
  }

  .nav-link:hover {
    color: rgb(128, 125, 250);
  }

  .main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

 .main-first{
    flex-basis: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 8px ridge rgba(149, 125, 214, 0.6);
  }

  .main-second {
    flex-basis: 500px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section {
    margin-left: auto;
    margin-right: auto;
  }

 .section .name {
    font-size: 32px;
    word-spacing: 3px;
    letter-spacing: 2px;
    font-weight: 900;
    color: black;
    text-transform: uppercase;
    margin: 0px;
    padding-top: 20px;
  }

  .name-color {
    color: rgb(84, 83, 135);
  }

  .subtitle {
    margin-top: 10px;
    padding-bottom: 40px;
  }

  .desc {
    padding-bottom: 20px;
  }

  .section-item {
    list-style: none;
    position: relative;
    line-height: 35px;
  }

  .section-item::before {
    content: "";
    position: absolute;
  }

  .section-item:nth-child(1):before {
    background-image: url(../assets/img/icon-location.png);
    top: 8px;
    left: -30px;
    width: 20px;
    height: 20px;
  }

  .section-item:nth-child(2):before {
    background-image: url(../assets/img/icon-mail.png);
    top: 10px;
    left: -30px;
    width: 20px;
    height: 16px;
  }

  .section-item:nth-child(3):before {
    background-image: url(../assets/img/icon-discord.png);
    top: 10px;
    left: -30px;
    width: 20px;
    height: 20px;
  }

  .section-item:nth-child(4):before {
    background-image: url(../assets/img/icon-github.png);
    top: 7px;
    left: -30px;
    width: 20px;
    height: 20px;
  }

  .link {
    text-decoration: none;
    color: black;
    padding: 0 5px;
  }

  .link:hover {
    color: rgb(128, 125, 250);
    transition: .5s;
  }

  .li-desc {
    list-style-type: square;
  }

  .li-desc::marker {
    color: rgb(90, 89, 148);
  }

  .section-title {
    color: rgb(84, 83, 135);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .code {
    background-color: rgba(181, 181, 181, 0.131);
    padding-left: 30px;
    padding-top: 15px;
    border: 1px solid rgb(128, 125, 250);
  }

  .create-line {
    align-self: center;
    border-left: 10px ridge rgba(143, 142, 205, 0.392);
    width: 10;
    height: 900px;
    margin: 10px;
    flex-wrap: nowrap;
  }

  .footer-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color: rgba(181, 181, 181, 0.131);
    font-size: 14px;
    max-height: 40px;
    margin-top: 20px;
  }

  .footer-link {
    text-decoration: none;
    color: black;
  }

  .footer-img {
    width: 70px;
    margin: 0px;
    padding: 0px;
    background-image: url(../assets/img/rs-logo.svg);
    top: 80px;
    left: 20px;
    width: 48px;
    height: 18px;
  }