@font-face {
    font-family: Open Sans, sans-serif;
     src: url("assets/fonts/OpenSans-VariableFont_wdth,wght.ttf");
     font-weight: 300;
   }
@font-face {
    font-family: Open Sans, sans-serif;
     src: url("assets/fonts/OpenSans-VariableFont_wdth,wght.ttf");
     font-weight: 400;
   }

@media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }

* {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth; 
  }

  body {
    font-family: 'Open Sans';
    font-weight: 100;
    letter-spacing: 1px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 27px;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    background-color: rgba(181, 181, 181, 0.131);
    margin-top: auto;
    font-size: 14px;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: rgb(73, 73, 73);
    transition: .3s;
  }

  .nav-link:hover {
    color: rgb(118, 117, 189);
  }
  
  .nav-link::after {
    content: "";
    position: absolute;
    left: 1px;
    bottom: -5px;
    width: calc(100% - 24px);
    height: 2px;
    background-color: #ff6161;
    opacity: 0;
    transition: .5s;
}

  .main {
    display: flex;
    justify-content: flex-start;
  }
 .main-first{
    flex-basis: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-second {
    flex-basis: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    margin-left: auto;
    margin-right: auto;
  }

 .section .name {
    font-size: 32px;
    word-spacing: 3px;
    letter-spacing: 2px;
    font-weight: 900;
    color: black;
    text-transform: uppercase;
    margin: 0px;
    padding-top: 20px;
  }


  .subtitle {
    margin-top: 10px;
    padding-bottom: 40px;
  }

  .desc {
    padding-bottom: 20px;
  }

  .section-item {
    list-style: none;
    position: relative;
    line-height: 35px;
  }

  .section-item::before {
    content: "";
    position: absolute;
  }

  .section-item:nth-child(1):before {
    background-image: url(../assets/img/icon-location.png);
    top: 8px;
    left: -30px;
    width: 20px;
    height: 20px;
  }


  .section-item:nth-child(2):before {
    background-image: url(../assets/img/icon-mail.png);
    top: 10px;
    left: -30px;
    width: 20px;
    height: 16px;
  }


  .section-item:nth-child(3):before {
    background-image: url(../assets/img/icon-discord.png);
    top: 10px;
    left: -30px;
    width: 20px;
    height: 20px;
  }

  .section-item:nth-child(4):before {
    background-image: url(../assets/img/icon-github.png);
    top: 7px;
    left: -30px;
    width: 20px;
    height: 20px;
  }

  .link {
    text-decoration: none;
    color: black;
  }

  .link:hover {
    color: rgb(84, 83, 135);
  }


  .li-desc {
    list-style-type: square;
  }

  .li-desc::marker {
    color: rgb(90, 89, 148);
  }

  .section-title {
    color: rgb(84, 83, 135);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .create-line {
    border-left: 10px ridge rgba(143, 142, 205, 0.392);
    width: 10;
    height: 900px;
    margin: 10px;
  }

  .footer-info {
    display: inline-block;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color: rgba(181, 181, 181, 0.131);
    font-size: 14px;
    margin: 0 auto;
  }

  .footer-link {
    text-decoration: none;
    color: black;
  }

  .footer-img {
    width: 70px;
  }




